<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/homepage.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="admin-icon-box">
        <a href="./admin/admin.html"
          ><img class="admin-icon" src="./img/admin.png"
        /></a>
      </div>
      <div>
        <a><img class="logo" src="./img/pica.png" /></a>
      </div>
      <div class="buttons">
        <a href="./index.html"><button class="drink-btn">飲料</button></a>
        <a href="#food"><button class="food-btn">食物</button></a>
      </div>
      <section class="main-sec">
        <div class="card-box">
          <h2>咖啡 coffee</h2>
          <div class="card">
            <div class="drink-item">
              <div></div>
              <div class="drink-price">
                <div>冰</div>
                <div>熱</div>
              </div>
            </div>
            <div class="drink-item">
              <div>
                <div>美式黑咖啡</div>
                <div>Americano</div>
              </div>
              <div class="drink-price">
                <div>130</div>
                <div>130</div>
              </div>
            </div>
            <div class="drink-item">
              <div>
                <div>美式黑咖啡</div>
                <div>Americano</div>
              </div>
              <div class="drink-price">
                <div>130</div>
                <div>130</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="main-sec" id="dessert">
        <div class="food-box">
          <h2>甜點</h2>
          <div
            id="carouselExampleControls"
            class="carousel slide look-custom"
            data-interval="false"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <% data.forEach((item)=>{ %>
                <% if(item.englishName === "caramel cinamon roll") {%>
                  <div class="carousel-item active">
                    <div class="food-card-box">
                      <div class="food-card"></div>
                      <div class="food-card-info">
                        <span><%= item.chineseName %> </span>
                        <span>$<%= item.price %> </span>
                      </div>
                    </div>
                  </div>
                <% } %>
              <% }) %> 
              <% data.forEach((item)=>{ %> <% if(item.categoryid === 5 &&
              item.englishName !== "caramel cinamon roll") {%>
              <div class="carousel-item">
                <div class="food-card-box">
                  <div class="food-card"></div>
                  <div class="food-card-info">
                    <span><%= item.chineseName%></span>
                    <span>$<%= item.icePrice%></span>
                  </div>
                </div>
              </div>
              <% } %> <% })%>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleControls"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleControls"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </section>
      <section class="main-sec" id="dessert">
        <div class="food-box">
          <h2>沙拉</h2>
          <div
            id="carouselExampleControls"
            class="carousel slide look-custom"
            data-interval="false"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="food-card-box">
                  <div class="food-card"></div>
                  <div class="food-card-info">
                    <span>肉桂捲</span>
                    <span>$90</span>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="food-card-box">
                  <div class="food-card"></div>
                  <div class="food-card-info">
                    <span>哈囉</span>
                    <span>$90</span>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="food-card-box">
                  <div class="food-card"></div>
                  <div class="food-card-info">
                    <span>沒錯</span>
                    <span>$90</span>
                  </div>
                </div>
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleControls"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleControls"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </section>
      <section class="main-sec" id="dessert">
        <div class="food-box">
          <h2>鹹食</h2>
          <div
            id="carouselExampleControls"
            class="carousel slide look-custom"
            data-interval="false"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="food-card-box">
                  <div class="food-card"></div>
                  <div class="food-card-info">
                    <span>肉桂捲</span>
                    <span>$90</span>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="food-card-box">
                  <div class="food-card"></div>
                  <div class="food-card-info">
                    <span>哈囉</span>
                    <span>$90</span>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="food-card-box">
                  <div class="food-card"></div>
                  <div class="food-card-info">
                    <span>沒錯</span>
                    <span>$90</span>
                  </div>
                </div>
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleControls"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleControls"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </section>
      <%- include("./template/footer") %>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script></script>
  </body>
</html>
