<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/homepage.css" />
    <link rel="stylesheet" href="./css/component.css">
    <title>Document</title>
  </head>
  <body>
    <% if(add_modal_open === true) { %> 
      <%- include ("../template/add-modal.ejs")%> 
    <% } %> 
    <div class="container">
      <div class="admin-icon-box">
        <a href="/login"
          ><img class="admin-icon" src="./img/admin.png"
        /></a>
      </div>
      <div>
        <a><img class="logo" src="./img/pica.png" /></a>
      </div>
      <div class="buttons">
        <a href="#coffee"><button class="drink-btn">咖啡</button></a>
        <a href="#tea"><button class="food-btn">茶</button></a>
        <a href="#chocolate"><button class="drink-btn">巧克力</button></a>
        <a href="#juice"><button class="food-btn">果汁</button></a>
        <a href="#dessert"><button class="drink-btn">甜點</button></a>
        <a href="#salad"><button class="food-btn">沙拉</button></a>
        <a href="#dishes"><button class="drink-btn">鹹食</button></a>
      </div>
      <div class="admin-add-box">
        <form action="/" method="POST">
          <button name="addModalBtn" class="add-btn" value="open">+</button>
        </form>
      </div>
      <section class="main-sec">
        <div class="card-box" id="coffee">
          <h2 class="category-title">咖啡 coffee</h2>
          <div class="drink-card">
            <div class="drink-item">
              <div></div>
              <div class="drink-price">
                <div>冰</div>
                <div>熱</div>
              </div>
            </div>
            <% data.forEach((item)=>{ %>
              <% if(item.categoryid === 1){ %> 
                <div class="drink-item">
                  <div class="item-box1">
                    <a href="/edit/<%= item.id %> "><img class="icon" src="./img/edit.png"></a>
                    <a href="/delete/<%= item.id %> "><img class="icon" src="./img/delete.png"></a>
                  </div>
                  <div class="item-box2">
                    <div><%= item.chineseName %> </div>
                    <div><%= item.englishName %> </div>
                  </div>
                  <div class="drink-price item-box3">
                    <div><%= item.icePrice %> </div>
                    <div><%= item.hotPrice %> </div>
                  </div>
                </div>
              <% } %>   
            <% })%>
          </div>
        </div>
        <div class="card-box" id="tea">
          <h2 class="category-title">茶 tea</h2>
          <div class="drink-card">
            <div class="drink-item">
              <div></div>
              <div class="drink-price">
                <div>冰</div>
                <div>熱</div>
              </div>
            </div>
            <% data.forEach((item)=>{ %>
              <% if(item.categoryid === 2)  {%> 
                <div class="drink-item">
                  <div>
                    <div><%= item.chineseName %> </div>
                    <div><%= item.englishName %> </div>
                  </div>
                  <div class="drink-price">
                    <div><%= item.icePrice %> </div>
                    <div><%= item.hotPrice %> </div>
                  </div>
                </div>  
              <% } %> 
            <% }) %>          
          </div>
        </div>
        <div class="card-box" id="chocolate">
          <h2 class="category-title">巧克力 chocolate</h2>
          <div class="drink-card">
            <div class="drink-item">
              <div></div>
              <div class="drink-price">
                <div>冰</div>
                <div>熱</div>
              </div>
            </div>
            <% data.forEach((item)=>{ %>
              <% if(item.categoryid === 3){ %> 
                <div class="drink-item">
                  <div>
                    <div><%= item.chineseName %> </div>
                    <div><%= item.englishName %> </div>
                  </div>
                  <div class="drink-price">
                    <div><%= item.icePrice %> </div>
                    <div><%= item.hotPrice %> </div>
                  </div>
                </div>
              <% } %> 
            <% }) %> 
          </div>
        </div>
        <div class="card-box" id="juice">
          <h2 class="category-title">果汁 juice</h2>
          <div class="drink-card">
            <div class="drink-item">
              <div></div>
              <div class="drink-price">
                <div>冰</div>
                <div>熱</div>
              </div>
            </div>
            <% data.forEach((item)=>{ %>
              <% if(item.categoryid === 4) {%> 
              <div class="drink-item">
                <div>
                  <div>美式黑咖啡</div>
                  <div>Americano</div>
                </div>
                <div class="drink-price">
                  <div>130</div>
                  <div>130</div>
                </div>
              </div>
              <% } %> 
            <% }) %> 
          </div>
        </div>
      </section>
      <section class="main-sec" id="dessert">
        <div class="food-box">
          <h2 class="category-title">甜點</h2>
          <div class="test-wrapper">
            <% data.forEach((item)=>{ %> <% if(item.categoryid === 5 ) {%>
              <div class="food-card-box">
                <div class="food-card"></div>
                <div class="food-card-info">
                  <span><%= item.chineseName%></span>
                  <span>$<%= item.icePrice%></span>
                </div>
              </div>
            <% } %> <% })%>
          </div>
        </div>
      </section>
      <section class="main-sec" id="salad">
        <div class="food-box">
          <h2 class="category-title">沙拉和湯</h2>
          <div class="test-wrapper">
            <% data.forEach((item)=>{ %> <% if(item.categoryid === 6 ) {%>
              <div class="food-card-box">
                <div class="food-card"></div>
                <div class="food-card-info">
                  <span><%= item.chineseName%></span>
                  <span>$<%= item.icePrice%></span>
                </div>
              </div>
            <% } %> <% })%>
          </div>
        </div>
      </section>
      <section class="main-sec" id="dishes">
        <div class="food-box">
          <h2 class="category-title">鹹食</h2>
          <div class="test-wrapper">
            <% data.forEach((item)=>{ %> <% if(item.categoryid === 7 ) {%>
              <div class="food-card-box">
                <div class="food-card"></div>
                <div class="food-card-info">
                  <span><%= item.chineseName%></span>
                  <span>$<%= item.icePrice%></span>
                </div>
              </div>
            <% } %> <% })%>
          </div>
        </div>
      </section>  
    </div>
    <%- include("../template/footer") %>
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>  
  </body>
</html>
