<div class="add-modal">
    <div class="add-form-box">
      <div class="model-cancel-box">
        <a href="/" class="model-cancel-btn">取消</a>
      </div>
      <form class="add-form" action="/edit/<%= product.id%> " method="POST" enctype="multipart/form-data">
        <div>
          <h2 class="add-title">編輯餐點</h2>
        </div>
        <div>
          <input class="text-input" type="text" name="chineseName" placeholder="中文名稱" value=<%= product.chineseName  %> />
        </div>
        <div>
          <input class="text-input" type="text" name="englishName" placeholder="英文名稱" value=<%= product.englishName %> />
        </div>
        <div>
          <input class="text-input" type="text" name="icePrice" placeholder="冰價錢" value=<%= product.icePrice %> />
        </div>
        <div>
          <input class="text-input" type="text" name="hotPrice" placeholder="熱價錢" value=<%= product.hotPrice %> />
        </div>
        <div>
          <label class="label-image-input" for="image-upload">上傳照片</label>
          <input class="image-input" type="file" name="image" id="image-upload"/>
        </div>
        <div>
          <input class="old-image" type="text" name="oldImage" value=<%= product.image %> >
        </div>
        <div>
          <textarea class="textarea-input" name="description" placeholder="敘述" value=<%= product.description %> ></textarea>
        </div>
        <div>
          <select class="select" name="category" value=<%= product.categoryid %> >
            <option value="1">咖啡</option>
            <option value="2">茶</option>
            <option value="3">巧克力</option>
            <option value="4">果汁</option>
            <option value="5">甜點</option>
            <option value="6">沙拉</option>
            <option value="7">鹹食</option>
          </select>
        </div>
        <div>
          <input class="submit-btn" type="submit" value="編輯完成"/>
        </div>
      </form>   
    </div>
  </div>  
